.app {
    @apply grid h-full;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}
.main {
    @apply h-full grid grid-cols-1 lg:grid-cols-5;
    font-family: BalooDa2-Bold, serif !important;
}
.main p{
    font-family: BalooDa2-Bold, serif !important;
}