.custom-input {
    @apply relative;
}

.custom-input input{
    @apply w-full px-10 py-2 bg-zinc-50 rounded-md text-slate-800;
    @apply focus:outline-none focus:ring-2 focus:ring-inset ring-transparent
    focus:ring-sky-600
    focus:bg-white;
    height: 50px;
}
.custom-input input::placeholder {
    @apply text-slate-400;
}

.custom-input .icon {
    @apply absolute w-5 h-5 pointer-events-none left-2 text-slate-500
}

.custom-input .eye-icon {
    @apply absolute w-5 h-5 right-2 text-slate-500 cursor-pointer
}
.custom-input .eye-icon-active {
    @apply text-sky-600
}