@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    @apply box-border;
    font-family: BalooDa2-Regular, serif;
}

body {
    @apply m-0 p-0;
    font-family: sans-serif;
}

html, body {
    @apply h-full w-full;
}

#app {
    @apply grid w-full h-full bg-blue-50/50;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}
