.register-view {
    @apply relative flex flex-col w-full items-center md:justify-center;
    @apply mx-auto w-full p-3 md:w-11/12;
    max-width: 500px;
}
.register-view .register-card {
    @apply w-full bg-white rounded-none overflow-hidden shadow-md rounded-sm;
}

.register-view .title {
    @apply w-full text-5xl py-10 text-slate-600;
}

.register-view .register-card .inputs {
    @apply select-none p-10 flex flex-col gap-4;
}

.register-view .register-card button {
    @apply w-full bg-sky-800 text-white px-4 h-12 rounded-sm
    hover:bg-sky-700
    focus:bg-sky-900
    duration-300 text-lg
    focus:ring-2 focus:ring focus:ring-blue-200
    ;
}

